.products {
  text-align: center;
  margin-top: 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.h1 {
  color: brown;
  text-align: center;
  font-weight: 600;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}
