.products {
  text-align: center;
  margin-top: 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.h1 {
  color: brown;
  text-align: center;
  font-weight: 600;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
