.container {
  background-image: url("../../assets/pexels-shattha-pilabut-38930-135620.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-top: 60px;
  height: 100vh;
  margin-top: 0;
  padding: 20px;
}

.h1 {
  color: black;
  z-index: 1;
}
.p {
  font-size: 20px;
  color: black;
  font-weight: 600;
}

.image {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .h1,
  .p {
    color: rgb(218, 16, 16);
    font-weight: bold;
  }
}
