.cart {
  text-align: center;
  font-size: 30px;

  background-image: url("../../assets/carts.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;

  padding-top: 1px;
}

.cart ul {
  list-style-type: none;
  text-align: center;
}

.cart .p {
  margin-bottom: 500px;
  color: black;
  margin-right: 800px;
  margin-bottom: 200px;
  font-weight: 700;
}

.listItem {
  color: black;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 30px;
  margin-left: 300px;
  border-radius: 5px solid green;
  background-color: hsl(0, 19%, 55%);
  max-width: 400px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .listItem {
    margin: auto;
  }
}
@media (max-width: 600px) {
  .listItem {
    max-width: 300px;
    font-size: 25px;
  }
  .h2 {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .listItem {
    max-width: 200px;
    font-size: 20px;
    margin: auto;
  }
  .h2 {
    font-size: 25px;
  }
}
