.navbar {
  text-align: center;
  background-color: rgb(161, 134, 67);

  display: flex;
  justify-content: center;
}

.navList {
  list-style-type: none;
  padding: 0;
}

.navItem {
  display: inline;
  margin-right: 40px;
  margin-left: 40px;
}
.navLink {
  text-decoration: none;
  color: rgb(120, 50, 50);
  font-size: 30px;
  font-weight: 700;
}
